<main id="site-main">
            
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="/add-films" class="border-shadow">
            <span class="text-gradient">New Film <i class="fa-solid fa-film"></i></span>
            </a>
        </div>
    </div>
</main>