<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FilmManagementSystem</title>
    <style>
        .body{
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
        }
        .login-form{
            background-color: white;
            padding: 100px 100px;
            border-radius: 10px;
        }
        .btn{
            padding: 10px;
            background-color: black;
            color: white;
            text-decoration: none;
        }
        .btn:hover{
            background-color: white;
            border: 1px solid black;
    
            color: black;

        }
    </style>
</head>

<body class="body">
    <p></p>
    <div class="login-form">
        <h1><span class="fa fa-github"></span> Github OAuth</h1>
        <p>Click the button to login with Github:</p>
        <a href="https://github.com/login/oauth/authorize?client_id=9f6031eccdab3d58bac7" class="btn btn-danger"><span
                class="fa fa-github"></span> Github Login</a>
    </div>

</body>

</html>