<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIES CRUD APPLICATION</title>
</head>
<body>
    <div class="main-container">
        {{!-- Header --}}
        
             {{{ header }}}
        
        {{!-- /Header --}}
        
        
        
        {{{ body }}}
         


        {{!-- Footer --}}
    
       {{{ footer }}}
        {{!-- /Footer --}}
    </div>
</body>
</html>